/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Jun, 2017, 6:16:19 PM
    Author     : Harika
*/

.noProductsBlock {
    height: 100px;    
    position: absolute;
    z-index: 25;
    display: none;
    top: 25%;
    left: 30%;
    font-size: 20px;
}

.addCart{
    background : #778899;
    /*cursor : not-allowed;*/
    color : white;
}

.eventPointer{
   pointer-events : none; 
}

.noProductsBlock .link {
    color: red;
    font-size: 34px;
}

.movingEffectImg{
    height : 25px;
    width : 25px;
}

.noProductsBlock .link:hover{
    cursor : pointer;
    text-decoration : underline;
}

.productAddedBlock {
    height: 150px;
    width: 250px;
    position: absolute;    
    background: #ccc;    
    padding: 5px;
    font-size: 20px;    
    display : none;
}

.productAddedBlock span{
    display : block;
    margin : 2px 50px;
}

#productAdd{
   z-index: 11; 
   color: blue;
   bottom: 2%;
   left: 40%;
}

#productRemove{
    z-index : 23;
    color : red;
    bottom: 0;
    left: 40%;
}

.categories{
    width : 15%;    
    text-align : center;
    left : 1%;
}

.addImage{
    height : 100px;
    width : 100px;
}

ul{
    padding : 0px;
    margin : 0px;
}

li{
    list-style: none;
}

.categories ul li {
    
    padding : 10px;
    margin : 10px;
    font-size : 18px;
    font-style: italic;
    color : white;
    border : 1px solid black;    
    background-color: #3cacd1;;
}


.categories,.allProducts{    
    border : 2px solid green;    
    position : relative;
    overflow-y : auto;
    height : 101%;
     top : -4%;
}

/*.outsideCart{
    position : fixed;
    right : 20%;
    top : 11%;
}*/

.allProducts{
    width : 80%;    
    position : absolute;
  
    left : 18%;
}

.pageContainer {
    border : 4px solid green;
    padding : 5px;
}

.productDetails{
    border : 1px solid black;
    border-radius : 20px;
    width : 30%;
    margin : 10px;
    padding : 20px;
    float : left;
}

 .ImageContainer img,.ImageContainer{
    height : 125px;
    width : 50%;
    border : 2px solid black;
    border-radius : 15px;
}

.productDetails .details span{
    background : tomato;
    color : white;
    border : 2px solid white;
    border-radius : 8px;
    font-size : 18px;    
}

.productDetails .details span:hover,.outsideCart:hover,.eachViewCart:hover,.categories ul li:hover,#logout:hover{
    text-decoration : underline;
    cursor : pointer;
}

.outsideCart,.eachViewCart{   
    
    /*background : #31bfde;;*/
    height : 25px;
    color : #31bfde;
    /*border : 2px solid white;*/
    /*border-radius : 5px;*/
    font-size : 19px;     
}

.outsideCart,.userH,#logout{
    position : fixed;
    z-index : 5;  
    top : 8%;
}


.outsideCart{
     right : 20%;     
}

.userH{
    right : 9%;
    color : black;    
}

#logout{
    right : 2%;
    font-size : 16px;    
}

#showCompleteProducts .eachViewCart{
   text-align : center;
   margin-left : -49px !important;
   margin-top : 20px !important;
   color : #CD5C5C;
}

.selectedCategory1{
    background-color:#DEB887 !important;
    color: darkviolet !important;
}

.specifyCharge{
    color : #C71585;
}

.showCart{
    text-align : right;
}

.productDetailsDivContent,#maskBlock,.cart{
    display : none;
    position : absolute;
}

.productDetailsDivContent, .cart {
    top: -13%;
    left: 3%;
    right: 3%;
    background: #F0F8FF;  
   
    width: 95%;
    border: 5px solid green;
}

.productDetailsDivContent{
    z-index : 10;
    height: 117%;
}
.cart {
    overflow-y : auto;
    z-index : 20;
    height: 85%;
}

.cart > div:first-child{
    text-align : right;
    font-size : 18px;    
}



.cart > div:last-child{
    position :absolute;
    top : 30%;
    width : 100%;
    background : green;
    color : white;
    font-size : 20px;
    font-weight : bold;
}



.qty{
    display: inline-block;
    width: 50px;
}	
	




#cartDetails table{
    display : block;
    border : 2px solid green;
    margin : 18px;
    padding : 5px;
}

#cartDetails table tr td:first-child{
    color:thistle;
}

#cartDetails .borderStyle{
    border : 5px solid green;
}

#closeTag{
  position : fixed;
  top : 4%;
  right : 4%;
  width : 2%;
  z-index : 11;
}

#cartBlock{
    height : 23%;
    width : 93%;
    position : fixed;
    bottom : 0%;
    border : 1px solid white;
    padding-top : 2%;
    padding-right : 2%;
    text-align : right;
    background : #70AB8F;
}

#cartBlock ul{
    border-bottom : 1px solid white;
}

#totalPrice,#totalDeliveryCharges,#overallCharges{
    display : inline-block;
    width : 80px;
    text-align : right;
}

#cartBlock .priceLabel{
    display : inline-block;
    width : 324px;
}


.productDetailsDivContent div{
    text-align: right; 
   
}

#cartDetails .productInCart {
	/* height: 215%; */
    border: 3px solid #c06e32;
    padding: 24px;
    margin: 25px;
    height : 190px;
    position : relative;
}
.subTitle{
    font-size : 22px;
    font-weight : bold;
    font-style : italic;    
    color : #f80e0e; 
    font-family:'Faster One';
}

.rsub {
    position : absolute;
    bottom : 50%;  
    left :1%;
    text-align: right;
}

.reviews{
    /*display : block;*/
    
    position : absolute;
    bottom : 1%;
    height : 46%;
    border : 3px solid green;
    margin : 0px 6px;
    
}

#reviewBlock{
    text-align: left;
    font-size : 15px;
    color : brown;
    font-variant: normal;
    font-weight : normal;
    /*margin : 5px;
    margin-right : 10px;
   
    padding : 5px;*/
    width : 100%;
    height : 90%;
    overflow-y : auto;
    
}

#reviewBlock li{
   margin : 6px;
   height : 15%;
}

.userWidth1{
    width : 7%;
    clear : both;
    /*height : 2%;*/
    /*margin-top : 5%;*/
}

.userWidth2{
    width : 92%;
}

.comments{
    color : purple;
}

.comments::after{
    content : "Check it now !!!";
    background : yellow;
}

input[value="Add To Cart"],input[value="Added to Cart"]{
   position : absolute;
   left : 34%;
   top : 35%; 
}

input[value="Add To Cart"],input[value="Added to Cart"],input[value="Remove"]{    
    border-radius : 10px;
    background : blue;
    color : white;
    height : 50px;
    font-size : 18px;
    width : 200px;
    font-style : italic;
}

input[value="Added to Cart"]:disabled{
    background : #778899;
}

#manufacturerDetails table{
    border : 1px solid green;
    font-size : 18px;
    width: 112%;
    margin-left : 42px;
}

.productImages,.detailsBlock12{
    float : left;
}

.productImages {
    border: 3px solid green;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 5%;
    margin-top: -1.5%;
}

.productDetailsDivContent div a:link,.productDetailsDivContent div a:visited,.cart div:first-child a:visited,.removeProduct{
    color : red;
    font-size : 20px;
}

.productDetailsDivContent div a:hover,.cart div:first-child a:hover,.removeProduct:hover{
    text-decoration: underline;
    cursor : pointer;
    color : #31bfde;
}

.loadingBlock{
    position : absolute;
    top : 20%;
    left : 40%;
    z-index : 9;
    display : none;
}

/*.productDetailsDivContent  table thead, .productDetailsDivContent  table tfoot{
    background : green;
}*/

#maskBlock{
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    opacity : 0.8;
    background : #F0FFF0;
    z-index : 8;
}


#detailedProducts img {
    height: 100px;
    width: 113px;
}


#mainImage {
    height: 200px;
    width: 355px;
}

#mainImage:hover{
    cursor : pointer;    
}



.zommingImage{
    height : 300px;
    position : absolute;    
    width : 300px;
    top : 0;
    left : 358px;
}

.starImage{
    height : 20px;
    width : 20px;
}

#showCompleteProducts table{
    font-size : 18px;
    width: 132%;
}

.productDetailsDivContent .reviewDivs{
    float : left;
    /*display : inline-block;*/
    text-align : left;
}

.productDetailsDivContent .reviewDivs:first-child{
    /*width : 8%; */
    font-size : 18px;
   
}

.productDetailsDivContent .reviewDivs:last-child{
    /*width : 92%;*/
    color : #1b2786e6;
}

.productDetailsDivContent span.ratingStars1{
    display : inline-block;
}

 



.ImgSource{
    height : 150px;
    width : 150px;
    clear : both;
}

.productInCart ul li {
    float : left;
    margin: 16px;
}

.detailArr div{
    /*width : 200px;*/
    padding : 8px;
}

.removeProduct{
    position: absolute;
    top: 108px;
    right: 28px;
}

.otherVaryDetails{     
    position: absolute;
    right: 10%;
    /* padding: 11px; */
}

.forDot,.label,.label1{
    display : inline-block;    
}

.forDot{
    width: 2px;
    margin : 0px 15px;
}

.label{
    width : 100px;
}

.label1{
    width : 130px;
}

.space{
  margin-left : 12px;
}

.priceBlock{
    font-size : 60px;
    margin : 0px auto;
    color : #FFF056;
}